.star-container {
    width: 150px;
    height: 30px;
    display: inline-block;
    margin: 0.5rem 0;
    user-select: none;
}

.star {
    display: inline-block;
    margin-left: 2px;

    height: 100%;
}

.star img {
    object-fit: cover;
}

.full-star img {
    background-color: orange;
}
