.form {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-control {
    margin-bottom: 1rem;
    width: 20rem;
}

.form-title {
    text-align: center;
    margin-bottom: 1rem;
}

.form-control input,
.form-control label {
    display: block;
}

.form-control input {
    width: 100%;
    max-width: 100%;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 4px;
}

.form-control label {
    margin-bottom: 0.5rem;
}

.form-control input:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 0 2pt #ffa200;
}

.invalid input {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
}

.invalid input:focus {
    background-color: #fbe8d2;
}

.form-action > button {
    min-width: 15%;
    margin-right: 1rem;
}

.form-action > button:nth-of-type(2) {
    background-color: #e5383b;
    color: white;
    min-width: 15%;
}

.form-action > button:nth-of-type(2):hover {
    background-color: #ba181b;
}

.info {
    margin-top: 0.5rem;
    font-size: 14px;
    color: rgb(54, 35, 164);
}

.error-text {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

@media (max-width: 480px) {
    .form {
        width: 90%;
    }
    .form-control {
        width: 100%;
    }

    .form-title {
        font-size: 20px;
    }
}
