.card-container {
    display: flex;
    min-width: 300px;
    max-width: 350px;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 2rem;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
}

.card-heading {
    text-align: center;
    color: #f78718;
    margin-bottom: 0.5rem;
}

.card-price {
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
}

.format-price {
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    margin-right: 10px;
    color: #e63946;
}

.original-price {
    font-family: inherit;
    font-size: 18px;
}
.original-price > span {
    font-family: inherit;
    text-decoration: line-through;
    font-weight: 500;
}

.fd {
    color: #0077b6;
    margin-bottom: 5px;
}

.order-prompt {
    font-family: inherit;
    animation: rainbow 5s infinite alternate;
}

@keyframes rainbow {
    0% {
        color: violet;
    }
    16% {
        color: indigo;
    }
    32% {
        color: blue;
    }
    48% {
        color: green;
    }
    64% {
        color: yellow;
    }
    80% {
        color: orange;
    }
    100% {
        color: red;
    }
}

.delivery-date {
    font-family: inherit;
    color: black;
    font-weight: 500;
}
.actions {
    margin-top: 1rem;
}

.actions button {
    border-radius: 20px;
    width: 100%;
}

.actions > form:nth-child(2) > button {
    background-color: #ffa41c;
}

.actions > form:nth-child(2) > button[name='productId']:hover,
.actions > form:nth-child(2) > button[name='productId']:active {
    background-color: #ff9900;
}

.seller {
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    font-weight: 500;
}

.address-link {
    margin: 0.5rem 0;
    font-size: 14px;
    color: #007185;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 1500px) {
    .card-container {
        min-width: 250px;
    }
}

@media (max-width: 900px) {
    .card-container {
        border-left: 0px;
        border-right: 0px;
        border-radius: 0;
        max-width: unset;
    }
    .card-heading {
        text-align: left;
    }
}
