.card {
    width: 30rem;
    height: 40rem;
    max-width: 300px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 0.2rem;
    flex: 0 0 calc(100% / 5);
}

.product-image {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.card-img {
    align-self: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 1rem;
    background-color: #e3e6e6;
}
.card div {
    margin-top: 0.5rem;
}

.discount-badge {
    font-size: 12px;
    background-color: #ef233c;
    color: white;
    width: fit-content;
    height: fit-content;
    margin-right: 1rem;
    padding: 0.3rem;
    border-radius: 2px;
}

.offer-deal {
    font-size: 14px;
    font-weight: 700;
    color: #ef233c;
}

.product-description {
    margin-top: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
    color: #393838;
}
