.modal {
    position: absolute;
    width: 20%;
    min-width: 300px;
    z-index: 1200;
    overflow: hidden;
    background-color: white;
    border-radius: 8px;
    min-height: 20%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 14px 0 rgba(15, 17, 17, 0.5);
}

.header {
    height: 50px;
    background: #e9ecef;
    padding: 1rem;
}

.header h4 {
    font-size: larger;
    color: black;
}

.footer {
    margin-top: auto;
    justify-self: baseline;
    padding: 0rem 1rem 1rem 1rem;
    display: flex;
    justify-content: flex-end;
}

.footer button {
    background-color: #e5383b;
    color: white;
}

.footer button:active,
.footer button:hover {
    background-color: #ba181b;
}

.modal-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

@media (max-width: 300px) {
    .modal {
        min-width: 250px;
    }
}
