.content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 80vw;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .content-wrapper {
        max-width: 90vw;
    }
}

@media (max-width: 1000px) {
    .content-wrapper {
        max-width: 100vw;
    }
}
