.nav-backdrop {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
}

.container {
    position: fixed;
    width: 250px;
    height: 230px;
    padding: 1rem;
    z-index: 100;
    right: 12.4rem;
    background-color: white;
    border-radius: 4px;
}

.sign-in {
    margin-bottom: 0.5rem;
}

.sign-in button {
    width: 200px;
}

.sign-in .new-user {
    font-size: 12px;
}

.sign-in .new-user a {
    text-decoration: none;
    color: #0077b6;
}

.title {
    font-size: 18px;
    color: #0f1111;
    margin: 0.3rem 0rem;
    padding: 0%;
    text-align: left;
}

.nav-items {
    text-align: left;
}

.nav-item {
    margin: 0.4rem 0;
}

.nav-item a {
    text-decoration: none;
    color: #444;
    font-size: 13px;
}

.pointer:after {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #fff;
    right: 25%;
    top: -18px;
}
