.card {
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: 27rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 1rem;
    background-color: white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-image {
    width: 100%;
    height: 85%;
    object-fit: cover;
}

.title {
    font-size: 21px;
    margin-bottom: 0.5rem;
}

.btn {
    display: inline-block;
    width: fit-content;
    margin: 0.5rem 0;
    color: #008cba;
    text-decoration: none;
}
