p ~ button {
    flex: 1;
    width: 100% !important;
    margin-bottom: 0.5rem;
    color: #212529;
}

.desc {
    font-size: 12px;
    line-height: 16px;
    color: #565959;
    margin-bottom: 0.5rem;
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #212529;
}

.text {
    padding: 0 10px;
}

.form-control {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.form-control input {
    height: 30px;
    border-radius: 4px;
    outline: 1px solid #6e6e6e;
    margin-right: 20px;
}

.form-control button {
    height: 30px;
    width: 80px;
    background-color: white;
    border: 1px solid #d5d9d9;
    line-height: 10px;
    box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
}

.form-control button:active:hover {
    background-color: #fbfbfb;
}

.form-control p {
    color: #e5383b;
    font-size: 14px;
    padding-top: 5px;
}
