.carousel-content {
    width: 100%;
    max-height: 1000px;
    height: 40rem;
    overflow: visible;
}

.carousel {
    width: 100%;
    height: 35rem;
    max-height: 900px;
    overflow: hidden;
}

.carousel__slide-btns {
    z-index: 10;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slide {
    position: relative;
    display: flex;
    transition: transform 1s;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.slide > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    transition: all 0.5s ease-in-out;
}

.slide > img:not(.active) {
    opacity: 0;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}

.card-container {
    position: absolute;
    top: 310px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1500px;
    max-height: 450px;
}
