.carousel-content {
    position: relative;
    width: 100%;
    height: 45rem;
    max-height: 700px;
    overflow: visible;
    margin-bottom: 2rem;
}

.carousel {
    position: relative;
    width: 100%;
    height: 35rem;
    max-height: 900px;
    overflow: hidden;
}

.carousel__slide-btns {
    z-index: 10;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slide {
    position: relative;
    display: flex;
    transition: transform 1s;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.slide > img {
    width: 100%;
    height: auto;
    object-fit: fill;
    position: absolute;
    object-position: top;
    transition: all 0.6s ease-in-out;
}

.slide > img:not(.active) {
    opacity: 0;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background-image: linear-gradient(
        to bottom,
        rgba(227, 230, 230, 0) 0%,
        rgba(227, 230, 230, 1) 100%
    );
}

.card-container {
    position: absolute;
    top: 250px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 450px;
}

@media (max-width: 1500px) {
    .carousel-content {
        height: 38rem;
    }
}

@media (max-width: 1200px) {
    .carousel-content {
        height: 35rem;
    }
    .card-container {
        top: 200px;
    }

    .slide > img {
        object-fit: contain;
    }
}

@media (max-width: 1000px) {
    .carousel-content {
        height: 28rem;
    }
    .card-container {
        top: 180px;
    }
}

@media (max-width: 780px) {
    .card-container {
        top: 150px;
    }
    .carousel-content {
        height: 25rem;
    }
}

@media (max-width: 640px) {
    .card-container {
        top: 120px;
    }
    .carousel-content {
        height: 22rem;
    }
}

@media (max-width: 480px) {
    .card-container {
        top: 100px;
    }
    .carousel-content {
        height: 18rem;
    }
}

@media (max-width: 380px) {
    .card-container {
        top: 80px;
    }
}
